<div class="row col-md-11 m-t-10">

  <div *ngIf="!userInfo" class="progressDiv">
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-i2h active" role="progressbar" aria-valuenow="50" aria-valuemin="0"
        aria-valuemax="100" style="width:50%">
        50% Complete
      </div>
    </div>
  </div>

  <div *ngIf="userInfo">
    <div class="col-md-12 m-t-10 m-b-20">
      <div class="fa-2x">
        Profile Information
      </div>
      <div class="col-md-6 m-t-10">
        <div class="col-md-12">
          <div class="input-effect-div input-effect m-t-10 m-b-10">
            <input type="email" class="cur-disabled labelled-effect has-content" [(ngModel)]="userInfo.empid" disabled />
            <label>Employer Id</label>
            <span class="focus-bg"></span>
            <i class="fa fa-hashtag fa-lg input-icon" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-12">
          <div class="input-effect-div input-effect m-t-20 m-b-10">
            <input type="email" class="cur-disabled labelled-effect has-content" [(ngModel)]="userInfo.email" disabled />
            <label>Email Id</label>
            <span class="focus-bg"></span>
            <i class="fa fa-user fa-lg input-icon" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 m-t-30 m-b-20">
      <div class="fa-2x">
        Personal Information
      </div>
      <div class="col-md-6 m-t-10">
        <div class="col-md-6">
          <div class="input-effect-div input-effect m-t-10 m-b-10">
            <input type="text" class="labelled-effect has-content" required="true" [(ngModel)]="userInfo.fname"
             (keyup)="enableUpdateButton()" attr.initialval="{{initialVal.fname}}"/>
            <label>First Name</label>
            <span class="focus-bg"></span>
            <i class="fa fa-user fa-lg input-icon" aria-hidden="true"></i>
          </div>
        </div>          
        <div class="col-md-6">
          <div class="input-effect-div input-effect m-t-10 m-b-10">
            <input type="text" class="labelled-effect has-content" [(ngModel)]="userInfo.lname"
             (keyup)="enableUpdateButton()" attr.initialval="{{initialVal.lname}}"/>
            <label>Last Name</label>
            <span class="focus-bg"></span>
            <i class="fa fa-user fa-lg input-icon" aria-hidden="true"></i>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="input-effect-div input-effect m-t-20 m-b-10 hide-fa-icon">
            <input type="date" name="dob" min="1900-01-01" max="{{today}}" class="labelled-effect has-content"
              (blur)="validateDOB()" [(ngModel)]="userInfo.dob" (change)="enableUpdateButton()"  attr.initialval="{{initialVal.dob}}"/>
          
            <!-- <input type="date" class="labelled-effect has-content" (change)="enableUpdateButton('date')" [(ngModel)]='userInfo?.dob'/> -->
            <label>D.O.B.</label>
            <span class="focus-bg"></span>
            <i class="fa fa-calendar fa-lg input-icon" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-effect-div input-effect m-t-20 m-b-10 col-md-6" style="width: 50%;">
            <input type="radio" value="male" [checked]="userInfo?.sex == 'male' ? 'true' : false" name="sex"
             [(ngModel)]="userInfo.sex" (change)=" enableUpdateButton()" attr.intialval="{{initialVal.sex === 'male' ? true : false}}"/>
            <label class="m-r-5">Male</label>
          </div>
          <div class="input-effect-div input-effect m-t-20 m-b-10 col-md-6" style="width: 50%;">
            <input type="radio" value="female" [checked]="userInfo?.sex == 'female' ? 'true' : false" name="sex"
             [(ngModel)]="userInfo.sex" (change)=" enableUpdateButton()" attr.intialval="{{initialVal.sex === 'female' ? true : false}}"/>
            <label class="m-r-5">Female</label>
          </div>
        </div>
        <div class="col-md-12 m-t-10">
          <a data-toggle="modal" href="#changePasswordModal" class="">Change Password</a>
        </div>

      </div>
    </div>

    <div class="col-md-12 m-t-20">
      <div class="fa-2x">
        Contact Information
      </div>
      <div class="col-md-6 m-t-10">
        <div class="col-md-6">
          <div class="input-effect-div input-effect m-t-10 m-b-10">
            <input type="text" class="labelled-effect has-content" (keydown)="allowOnlyNumbers($event)" (paste)="pasteOnlyNumbers($event)"
            [(ngModel)]='userInfo.mobile' (keyup)="enableUpdateButton()" attr.initialval="{{initialVal.mobile}}" />
            <label>Mobile (10 Digits)</label>
            <span class="focus-bg"></span>
            <i class="fa fa-hashtag fa-lg input-icon" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-12 p-0 m-t-10 text-center">
      <div class="col-md-6">
        <div id="notification-block" class="col-md-7 p-0 m-0">
          <div *ngIf="notification?.show" role="alert" class="alert {{notification.classCss}} alert-fade-in alert-dismissible">
            <button type="button" class="close" aria-label="Close" (click)="closeNotification()">
              <span aria-hidden="true">&times;</span>
            </button>
            <i class="fa fa-info-circle"></i> {{notification?.message}}
          </div>
        </div>
        <div class="col-md-5">
          <button type="button" class="col-md-8 btn btn-form btn-i2h pull-right" disabled="{{enableUpdateBtn ? null : 'true'}}" (click)="onUpdate()">
            Update
            <i *ngIf="inProgress" class="fa fa-spinner fa-spin inline-loader col-fff"></i>
          </button>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="modal fade" id="changePasswordModal" role="dialog">
  <form (ngSubmit)="changeUserPassword()" [formGroup]="changePasswordForm">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="row col-md-12">
            <div class="col-md-">
              <h3 class="change-password-panel-heading">
                Change Password
              </h3>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <!-- <form (ngSubmit)="changeUserPassword()" [formGroup]="changePasswordForm"> -->
          <div class="form-group row">
            <label for="oldPassword" class="col-sm-2 col-form-label">Current Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword" placeholder="Enter Current Password">
            </div>
          </div>

          <!-- <div class="col-md-12 form-group has-feedback">
            <input type="password" class="form-control input-form" name="signin-password" formControlName="password" placeholder="Password">
            <span class="fa fa-key fa-lg form-control-feedback right" aria-hidden="true"></span>
          </div> -->

          <div class="form-group row">
            <label for="newPassword" class="col-sm-2 col-form-label">Enter New Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="newPassword" formControlName="newPassword" placeholder="Enter New Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Enter New Password">
            </div>
          </div>
          <div class="col-md-12 form-group">
            <div *ngIf="errorObject?.show" class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>Error!</strong> {{errorObject?.message}}
            </div>
          </div>
          <!-- </form> -->
        </div>
        <div class="modal-footer">
          <div class="row">
            <button type="button" class="btn btn-primary btn-popup cancel" data-dismiss="modal">Cancel</button>
            <button type="submit" (click)="closeErrorMsg()" class="btn btn-primary btn-popup {{  enableChangePassBtn ? '' : 'bg-disabled'}}"
              [disabled]="! enableChangePassBtn">
              CONFIRM
              <i *ngIf="inProgress" class="fa fa-spinner fa-spin inline-loader"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>