
<div class="account-div">
    <div class="text-center">
      <p>Account Registration</p>
    </div>
    <div class="input-effect-div input-effect m-t-10 m-b-10">
      <input type="email" class="labelled-effect" (focusout)="handleLabelName($event)" required="true"
       [(ngModel)]='userInfo.fname' (keyup)="enableSaveButton()"/>
      <label>First Name</label>
      <span class="focus-bg"></span>
      <i class="fa fa-user fa-lg input-icon" aria-hidden="true"></i>
    </div>

    <div class="input-effect-div input-effect m-t-20 m-b-10">
      <input type="password" class="labelled-effect" (focusout)="handleLabelName($event)" (keyup)="enableSaveButton()" [(ngModel)]='userInfo.lname'/>
      <label>Last Name</label>
      <span class="focus-bg"></span>
      <i class="fa fa-user fa-lg input-icon" aria-hidden="true"></i>
    </div>

    <div class="input-effect-div input-effect m-t-20 m-b-10 hide-fa-icon" style="width: 50%;">
      <input type="date" name="dob" min="1900-01-01" max="{{today}}" class="labelled-effect has-content"
      (change)="enableSaveButton()" (blur)="validateDOB()" [(ngModel)]='userInfo.dob' />

      <!-- <input type="date" class="labelled-effect has-content" (change)="enableSaveButton('date')" [(ngModel)]='userInfo.dob'/> -->
      <label>D.O.B.</label>
      <span class="focus-bg"></span>
      <i class="fa fa-calendar fa-lg input-icon" aria-hidden="true"></i>
    </div>

    <div class="input-effect-div input-effect m-t-30 m-b-10 col-md-6" style="width: 50%;">
      <input type="radio" value="male" name="sex" [(ngModel)]="userInfo.sex" (change)="enableSaveButton()" />
      <label class="m-r-5">Male</label>
      <input type="radio" value="female" name="sex" [(ngModel)]="userInfo.sex" (change)="enableSaveButton()" />
      <label class="m-r-5">Female</label>
    </div>

    <div class="input-effect-div input-effect m-t-20 m-b-10">
      <input type="text" class="labelled-effect" (focusout)="handleLabelName($event)" 
        (keydown)="allowOnlyNumbers($event)" (paste)="pasteOnlyNumbers($event)" (keyup)="enableSaveButton()" [(ngModel)]='userInfo.mobile'/>
      <label>Mobile (10 Digits)</label>
      <span class="focus-bg"></span>
      <i class="fa fa-hashtag fa-lg input-icon" aria-hidden="true"></i>
    </div>

    <div class="input-effect-div input-effect m-t-20 m-b-10">
      <input type="password" class="labelled-effect" (focusout)="handleLabelName($event)" (keyup)="enableSaveButton()"  [(ngModel)]='userInfo.password'
       (blur)="checkPasswordMatch()" />
      <label>Password (6-20 letters)</label>
      <span class="focus-bg"></span>
      <i class="fa fa-key fa-lg input-icon" aria-hidden="true"></i>
    </div>

    <div class="input-effect-div input-effect m-t-20 m-b-10">
      <input type="password" class="labelled-effect" (focusout)="handleLabelName($event)" (keyup)="enableSaveButton()" [(ngModel)]='password2'
      (blur)="checkPasswordMatch()" />
      <label>Retype new Password</label>
      <span class="focus-bg"></span>
      <i class="fa fa-key fa-lg input-icon" aria-hidden="true"></i>
    </div>

    <div class="col-md-12 p-0 m-t-10 text-center">
      <div id="notification-block" class="col-md-7 p-0 m-0">
        <div *ngIf="notification?.show" role="alert" class="alert {{notification.classCss}} alert-fade-in alert-dismissible">
          <button type="button" class="close" aria-label="Close" (click)="closeNotification()">
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="fa fa-info-circle"></i> {{notification?.message}}
        </div>
      </div>
      <button type="button" class="col-md-3 btn btn-form btn-i2h pull-right" disabled="{{enableSaveBtn ? null : 'true'}}" (click)="onSave()">
        Save
        <i *ngIf="inProgress" class="fa fa-spinner fa-spin inline-loader col-fff"></i>
      </button>
    </div>

</div>

