/* You can add global styles to this file, and also import other style files */
/* overriding css */
body {
  background: #efefef;
}
.fa {
  color: #ef7e1c4a
}
/* End of over-riding css */

input,
textarea,
select,
button,
meter,
progress {
  -webkit-writing-mode: horizontal-tb;
}

.center-card {
  background-color: #fff;
  box-shadow: 1px 1px 13px grey;
  border-radius: 3px;
  height: 400px;
  width: 350px;
  top: 150px;
  position: relative;
  margin: auto auto;
  padding: 0;
}
.header-cap {
  background: #ef7f1a;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 100px;
  text-align: center;
}
.header-cap>.fa {
  margin: 12px 0;
  color: #fff;
}
.header-content {
  height: 320px;
  padding: 15px;
}
.input-icon {
  position: absolute;
  right: 0;
  z-index: 2;
  display: block;
  margin: 5px 10px;
  top: 5px;
  pointer-events: none;
}
.otp-input {
  width: 62%;
}

/* custom relative specific css */
.hide {
  display: none;
}
.fl-r{
  float: right;
}
.fl-l {
  float: left;
}
.m-0 {
  margin: 0;
}
.m-10 {
  margin: 10px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.p-0 {
  padding: 0;
}
.r-0{
  right: 0;
}
.text-center {
  text-align: center;
}
.bg-i2h {
  background-color: #ef7f1a;
}
.btn-i2h {
  background-color: #6a6a6ac4;
  color: #fff;
  height: 40px;
}
.btn-i2h:hover {
  color: #fff;
}
.btn-i2h:active {
  color: #000;
}
.col-i2h {
  color: #ef7f1a;
}
.col-fff{
  color: #fff;
}
.col-000 {
  color: #000;
}
