/* You can add global styles to this file, and also import other style files */
/* overriding css */
body {
  background: #efefef;
}
.fa {
  color: #ef7e1c4a
}
.fa-1o5x {
  font-size: 1.5em;
}
.btn {
  border-radius: 2px;
  text-transform: uppercase;
}
/* navbar common css */
#custom-nav {
  background-color: #ef7f1a;
  margin-bottom: 0px;
  box-shadow: 1px 1px 13px grey;
  -moz-box-shadow: 1px 1px 13px grey;
  -webkit-box-shadow: 1px 1px 13px grey;
}
#custom-nav .fa {
  color: #fff;
}
.nav-brand-img {
  height: 50px;
  top: 0;
  position: absolute;
  margin: 5px;
}

/* End of over-riding css */

input,
textarea,
select,
button,
meter,
progress {
  -webkit-writing-mode: horizontal-tb;
}

.center-card {
  background-color: #fff;
  box-shadow: 1px 1px 13px grey;
  border-radius: 3px;
  width: 350px;
  top: 150px;
  position: relative;
  margin: auto auto;
  min-height: 400px;
  padding: 0;
}
.header-cap {
  background: #ef7f1a;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 100px;
  text-align: center;
}
.header-cap>.fa {
  margin: 12px 0;
  color: #fff;
}
.header-content {
  height: 320px;
  padding: 15px;
}
.input-icon {
  position: absolute;
  right: 0;
  z-index: 2;
  display: block;
  margin: 5px 10px;
  top: 5px;
  pointer-events: none;
}
.otp-input {
  width: 62%;
}

/* custom relative specific css */
.hide {
  display: none;
}
.fl-r{
  float: right;
}
.fl-l {
  float: left;
}
.m-0 {
  margin: 0;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-5 {
  margin-right: 5px;
}
.p-0 {
  padding: 0;
}
.r-0{
  right: 0;
}
.text-center {
  text-align: center;
}
.bg-i2h {
  background-color: #ef7f1a;
}
.progressDiv {
  margin: 25% 20%;
}
.bg-i2h.active {
  animation: progress-bar-stripes 1s linear infinite;
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  -moz-animation: progress-bar-stripes 1s linear infinite;
}
.progressDiv .progress {
  box-shadow: inset 0 0px 5px 2px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0 0px 5px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: inset 0 0px 5px 2px rgba(0, 0, 0, .1);
}
.btn-i2h {
  background-color: #6a6a6ac4;
  color: #fff;
  height: 40px;
}
.btn-i2h:hover {
  color: #fff;
}
.btn-i2h:active {
  color: #000;
}
.col-i2h {
  color: #ef7f1a !important;
}
.col-fff{
  color: #fff !important;
}
.col-000 {
  color: #000 !important;
}
.cur-p{
  cursor: pointer !important;
}
.trim-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*= input focus effects css
=========================== */
.cur-disabled {
  cursor: not-allowed !important;
}
:focus {
  outline: none;
}

.input-effect-div {
  float: left;
  position: relative;
  width: 100%;
  z-index: 1;
}

/* necessary to give position: relative to parent. */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.labelled-effect {
  border: 0;
  padding: 7px 15px;
  border: 1px solid #ccc;
  position: relative;
  background: transparent;
}

.labelled-effect~.focus-bg:before,
.labelled-effect~.focus-bg:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  background-color: #ededed;
  transition: 0.3s;
  z-index: -1;
}

.labelled-effect:focus~.focus-bg:before,
.has-content.labelled-effect~.focus-bg:before {
  transition: 0.3s;
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
}

.labelled-effect~.focus-bg:after {
  left: auto;
  right: 50%;
  top: auto;
  bottom: 50%;
}

.labelled-effect:focus~.focus-bg:after,
.has-content.labelled-effect~.focus-bg:after {
  transition: 0.3s;
  width: 50%;
  height: 100%;
  bottom: 0;
  right: 0;
}

.labelled-effect~label {
  position: absolute;
  left: 14px;
  width: 100%;
  top: 10px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.labelled-effect:focus~label,
.has-content.labelled-effect~label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: #333;
  transition: 0.3s;
}

/*= input focus effects css End
=============================== */
.alert-fade-in{
  animation: opac 0.5s;
}

@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* sidemenu css */
.avatar {
  height: 180px;
  padding: 15px;
  width: 200px;
}
.fa-10x {
  font-size: 10em;
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  /* top: 40px; */
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* padding-top: 5px; */
  margin: 0;
  box-shadow: 1px 1px 13px 1px grey;
  -moz-box-shadow: 1px 1px 13px 1px grey;
  -webkit-box-shadow: 1px 1px 13px 1px grey;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000;
  background: #fff;
}

.sidenav a.active {
  background: #fff;
  color: #000;
}

.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 5px;
  font-size: 30px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.sidenav-title{
  font-size: 20px;
  padding: 5px 10px;
  background: #ccc;
  border-bottom: 1px solid;
  border-top: 1px solid;
}
.menu-block a:last-child {
  border-bottom: none;
}
.menu-block a,
.last-menu-block a:last-child {
  border-bottom: 1px solid #ccc;
}


/* End of sidemenu css */

