
.add-edit-card .header-content {
    padding: 0 15px;
    height: 400px;
}
.add-edit-card .header-content.header-content-notif {
    height: 470px;
}
.add-edit-card .add-address-div{
    max-height: 320px;
}
.dependent-card .add-address-div {
    max-height: 300px;
}

