<nav id="custom-nav" class="navbar navbar-default">
  <div class="container-fluid" style="padding: 6px 15px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Logo" src="../../assets/logo.png" class="nav-brand-img">
      </a>
    </div>
  </div>
</nav>

<div class="center-card">
  <div class="header-cap">
    <i class="fa fa-user-circle fa-5x"></i>
  </div>
  <div class="header-content {{notification?.show ? 'header-content-notif' : ''}}"> 
    <form class="form-horizontal" [formGroup]="signInForm" (ngSubmit)="onSignIn()">

      <div class="input-effect-div input-effect m-t-10 m-b-10">
        <input type="email" class="labelled-effect" (focusout)="handleLabelName($event)" required="true" formControlName="email"
         (keyup)="enableOTPButton($event)"/>
        <label>Employer ID / Email Id</label>
        <span class="focus-bg"></span>
        <i class="fa fa-envelope fa-lg input-icon" aria-hidden="true"></i>
      </div>

      <div class="input-effect-div input-effect m-t-20 m-b-10">
        <input type="password" class="labelled-effect" (focusout)="handleLabelName($event)" formControlName="password" (keyup)="enableSignInButton()" />
        <label>Password</label>
        <span class="focus-bg"></span>
        <i class="fa fa-key fa-lg input-icon" aria-hidden="true"></i>
      </div>

      <div class="col-md-12 m-b-10 text-center">
        (or)
      </div>
      
      <div class="input-effect-div input-effect m-b-10" style="width: 60%;">
        <input type="text" class="labelled-effect" (focusout)="handleLabelName($event)" formControlName="otp" 
          (keydown)="allowOnlyNumbers($event)" (paste)="pasteOnlyNumbers($event)" (keyup)="enableSignInButton()" />
        <label>OTP</label>
        <span class="focus-bg"></span>
        <i class="fa fa-hashtag fa-lg input-icon" aria-hidden="true"></i>
      </div>

      <div class="col-md-4 p-0 m-b-10 fl-r" style="z-index: 1;">
        <button type="button" id="otp-btn" class="btn btn-form btn-i2h fl-r" disabled="{{emailHasContent ? null : 'true'}}" (click)="mailOTP()">
          Send OTP
          <i *ngIf="mailProgress" class="fa fa-spinner fa-spin inline-loader col-fff"></i>
        </button>
      </div>
      
      <div class="col-md-12 p-0 m-t-10 text-center">
        <button type="submit" class="col-md-12 btn btn-form btn-i2h" disabled="{{enableSignInBtn ? null : 'true'}}">
          LOG IN
          <i *ngIf="inProgress" class="fa fa-spinner fa-spin inline-loader col-fff"></i>
        </button>
      </div>
      
    </form>
    <div id="notification-block" class="col-md-12 p-0 m-t-10">
      <div *ngIf="notification?.show" role="alert" class="text-center alert {{notification.classCss}} alert-fade-in alert-dismissible" >
        <button type="button" class="close" aria-label="Close" (click)="closeNotification()">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="fa fa-info-circle"></i> &nbsp; {{notification?.message}}
      </div>
    </div>
  </div>  
</div>
  