<div class="sidenav">
  <div class="avatar text-center">
    <i class="fa {{componentIcon ? componentIcon : 'fa-user'}} fa-10x"></i>
  </div>
  <span href="javascript:void(0)" class="closebtn" hidden >&times;</span>
  <div class="menu-block">
    <div class="sidenav-title">
      Account
    </div>
    <a [routerLink]="['profile']" class="jq-page-link">Profile</a>
    <a [routerLink]="['address']" class="jq-page-link">Address</a>
  </div>
  <div class="menu-block">
    <div class="sidenav-title">
      Dependents
    </div>
    <a [routerLink]="['dependents']" class="jq-page-link">List</a>
  </div>
  <div class="menu-block last-menu-block">
    <div class="sidenav-title">
      Reports
    </div>
    <a [routerLink]="['compare']" class="jq-page-link">Compare</a>
  </div>
</div>
<div style="margin-left: 210px;">
  <router-outlet></router-outlet>
</div>