<div class="row col-md-12 m-t-10">

    <div class="col-md-12 m-t-10 m-b-20">
      <div class="fa-2x">
        Manage Address
      </div>
      <div class="col-md-12 m-t-10 add-address-div p-r-0 bg-fff">

        <div class="col-md-12 row m-t-10 m-b-10">

          <div class="col-md-6 p-l-0">
            <i class="fa fa-plus fa-3x pull-left col-i2h cur-p" aria-hidden="true" (click)="showAdressTemplate()"></i>
            <button type="button" class="btn btn-i2h" (click)="showAdressTemplate()">Add Address</button>
            <span *ngIf="showTemplate" class="sub-info">
              <!-- <i class="fa fa-info col-i2h" aria-hidden="true"></i> -->
              Mandatory fields are marked 
              <i class="fa fa-asterisk mandatory-icon" aria-hidden="true"></i> 
            </span>
          </div>

          <div *ngIf="showTemplate" class="col-md-6">
            <div class="col-md-1 pull-right" title="Add new address">
              <i *ngIf="addProgress" class="fa fa-spinner fa-spin inline-loader col-000 fa-3x"></i>
              <i *ngIf="!addProgress" class="fa fa-plus-circle fa-3x {{ enableAddBtn ? 'col-i2h cur-p' : 'cur-disabled'}} "
                 aria-hidden="true" (click)="enableAddBtn ? addAdress(false) : null"></i>
            </div>
            <div class="col-md-1 pull-right text-center" title="Find in map">
              <i class="fa fa-map-marker fa-3x {{ false ? 'col-i2h cur-p' : 'cur-disabled'}}" aria-hidden="true" (click)="showMap()"></i>
            </div>
          </div>

        </div>
        
        <div *ngIf="showTemplate" class="col-md-12 row m-t-10 m-b-10 p-0">
        <!-- 1st row -->
          <div class="col-md-2">
            <div class="input-effect-div input-effect m-t-10 m-b-10">
              <select class="labelled-effect {{tag ? 'has-content' : '' }}" [(ngModel)]="tag" (change)="enableAddButton($event)">
                <option *ngFor="let tag of tagList">{{tag}}</option>
              </select>
              <!-- <ng-autocomplete (selected)="Selected($event)" [classes]="['']" [group]="group"></ng-autocomplete> -->
              <!-- <input type="text" class="labelled-effect" required="true" [(ngModel)]="tag" (keyup)="enableAddButton($event)" (focusout)="handleLabelName($event)"/> -->
              <label>Select Tag</label>
              <span class="focus-bg"></span>
            </div>
          </div>

          <div class="col-md-2">
            <div class="input-effect-div input-effect m-t-10 m-b-10">
              <input type="text" class="labelled-effect text-cap {{name ? 'has-content' : '' }}" required="true" [(ngModel)]="name"
               (keyup)="enableAddButton($event)" (focusout)="handleLabelName($event)" />
              <label>Name</label>
              <span class="focus-bg"></span>
              <i class="fa fa-asterisk input-icon mandatory-icon" aria-hidden="true"></i>
            </div>
          </div>

          <div class="col-md-2">
            <div class="input-effect-div input-effect m-t-10 m-b-10">
              <input type="text" class="labelled-effect {{contact ? 'has-content' : '' }}" (keydown)="allowOnlyNumbers($event)" (paste)="pasteOnlyNumbers($event)"
                [(ngModel)]='contact' (keyup)="enableAddButton($event)" (focusout)="handleLabelName($event)" />
              <label>Contact</label>
              <span class="focus-bg"></span>
              <i class="fa fa-asterisk input-icon mandatory-icon" aria-hidden="true"></i>
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-effect-div input-effect m-t-10 m-b-10">
              <input type="text" class="labelled-effect text-cap {{address ? 'has-content' : '' }}" required="true" [(ngModel)]="address"
               (keyup)="enableAddButton($event)" (focusout)="handleLabelName($event)" />
              <label>Address</label>
              <span class="focus-bg"></span>
              <i class="fa fa-asterisk input-icon mandatory-icon" aria-hidden="true"></i>
            </div>
          </div>

        <!-- 2nd row -->
          <div class="col-md-2">
            <div class="input-effect-div input-effect m-t-10 m-b-10">
              <input type="text" class="labelled-effect text-cap {{landmark ? 'has-content' : '' }}" required="true" [(ngModel)]="landmark"
               (keyup)="enableAddButton($event)" (focusout)="handleLabelName($event)" />
              <label>Landmark</label>
              <span class="focus-bg"></span>
            </div>
          </div>

          <div class="col-md-2">
            <div class="input-effect-div input-effect m-t-10 m-b-10">
              <input type="text" class="labelled-effect text-cap {{locality ? 'has-content' : '' }}" required="true" [(ngModel)]="locality"
               (keyup)="enableAddButton($event)" (focusout)="handleLabelName($event)" />
              <label>Locality</label>
              <span class="focus-bg"></span>
              <i class="fa fa-asterisk input-icon mandatory-icon" aria-hidden="true"></i>
            </div>
          </div>

          <div class="col-md-2">
            <div class="input-effect-div input-effect m-t-10 m-b-10">
              <input type="text" class="labelled-effect text-cap {{city ? 'has-content' : '' }}" required="true" [(ngModel)]="city"
               (keyup)="enableAddButton($event)" (focusout)="handleLabelName($event)" />
              <label>City</label>
              <span class="focus-bg"></span>
              <i class="fa fa-asterisk input-icon mandatory-icon" aria-hidden="true"></i>
            </div>
          </div>
          
          <div class="col-md-2">
            <div class="input-effect-div input-effect m-t-10 m-b-10">
              <select class="labelled-effect {{state ? 'has-content' : '' }}" [(ngModel)]="state" (change)="enableAddButton($event)">
                <option *ngFor="let stateName of stateList">{{stateName}}</option>
              </select>
              <label>State</label>
              <span class="focus-bg"></span>
              <i class="fa fa-asterisk input-icon mandatory-icon" aria-hidden="true"></i>
            </div>
          </div>

          <div class="col-md-2">
            <div class="input-effect-div input-effect m-t-10 m-b-10">
              <input type="text" class="labelled-effect {{pincode ? 'has-content' : '' }}" (keydown)="allowOnlyNumbers($event)" (paste)="pasteOnlyNumbers($event)" [(ngModel)]="pincode"
                (keyup)="enableAddButton($event)" (focusout)="handleLabelName($event)" />
              <label>Pincode</label>
              <span class="focus-bg"></span>
              <i class="fa fa-asterisk input-icon mandatory-icon" aria-hidden="true"></i>
            </div>
          </div>

          <div class="col-md-2">
            <div class="input-effect-div input-effect m-t-10 m-b-10">
              <input type="text" class="labelled-effect {{altContact ? 'has-content' : '' }}" (keydown)="allowOnlyNumbers($event)" (paste)="pasteOnlyNumbers($event)" [(ngModel)]="altContact"
                (keyup)="enableAddButton($event)" (focusout)="handleLabelName($event)" />
              <label>Alternate Contact</label>
              <span class="focus-bg"></span>
            </div>
          </div>

        </div>
      
      </div>


    <!-- Saved address -->
      <div *ngIf="addressInfo.length > 0" class="col-md-12 m-t-10 add-address-div p-0 {{showTemplate ? '' : 'extend'}}">

        <div *ngFor="let aInfo of addressInfo" class="bg-alt {{(selectedAddress && selectedAddress.id === aInfo.id) ? selectedAddress.css : ''}}">
          <div class="col-md-12">
            <div class="col-md-1 text-center pull-left address-tag cur-p {{aInfo.default ? 'default' : '' }}" attr.addid="{{aInfo.id}}" title="Make default Address" (click)="makeDefault(aInfo.id)">{{aInfo.tag}}</div>
            <div class="col-md-10 pull-right ">
              <div class="pull-right m-l-10" title="Delete this address">
                <a data-toggle="modal" href="#confirmDeleteModal" (click)="confirmDelAddress(aInfo)">
                  <i class="fa fa-trash-o fa-2x col-i2h" aria-hidden="true" ></i>
                </a>
              </div>
              <div class="text-center pull-right m-l-10" title="Edit this address">
                <i class="fa fa-pencil fa-2x col-i2h cur-p" aria-hidden="true" (click)="editAddress(aInfo, false)"></i>
              </div>
            </div>
          </div>

          <div class="col-md-12" title="{{aInfo.name}}">
            <i class="fa fa-id-card-o fa-lg added-address-icon" aria-hidden="true"></i>              
            <label class="text-trim col-md-11 pull-left text-cap">{{aInfo.name}}</label>
          </div>
          
          <div class="col-md-12" title="{{aInfo.altContact ? (aInfo.contact + ', ' + aInfo.altContact) : aInfo.contact}}">
            <i class="fa fa-mobile fa-lg added-address-icon" aria-hidden="true"></i>              
            <label class="text-trim col-md-11 pull-left text-cap">{{aInfo.altContact ? (aInfo.contact + ', ' + aInfo.altContact) : aInfo.contact}}</label>
          </div>
                  
          <div class="col-md-12" title="{{aInfo.address}}{{aInfo.landmark ? ', ' + aInfo.landmark : ''}}{{', ' + aInfo.locality}}">
            <i class="fa fa-home fa-lg added-address-icon" aria-hidden="true"></i>
            <label class="text-trim col-md-11 text-cap">
              {{aInfo.address}}{{aInfo.landmark ? ', ' + aInfo.landmark : ''}}{{', ' + aInfo.locality}}
            </label>
          </div>

          <div class="col-md-12" title="{{aInfo.city + ', ' + aInfo.state + ' - ' + aInfo.pincode}}">
            <i class="fa fa-map-marker fa-lg added-address-icon" aria-hidden="true"></i>
            <label class=" col-md-11 text-cap">{{aInfo.city + ', ' + aInfo.state + ' - ' + aInfo.pincode}}</label>
          </div>

        </div>
      </div>
    </div>


</div>




<!-- Delete Address Confirmation Modal -->
<div class="modal fade" id="confirmDeleteModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="center-card delete-modal">
      <div class="header-cap">
        <i class="fa fa-user-circle fa-5x"></i>
      </div>
      <div class="header-content {{delNotif?.show ? 'header-content-notif' : ''}}">
       
        <div class="col-md-12 m-b-10 text-center">
          Confirm Address Delete ?
        </div>

        <div class="col-md-12 p-0 m-t-10 text-center">
          <button type="button" id="cancel" class=" m-r-20 btn btn-i2h" data-dismiss="modal" (click)="closeDelModal()">Cancel</button>

          <button type="submit" class=" m-l-20 btn btn-form btn-i2h" disabled="{{(selectedAddress && !deleteProgress) ? null : 'true' }}"
            (click)="(selectedAddress && !deleteProgress) ? deleteAddress() : null">
            Delete
            <i *ngIf="deleteProgress" class="fa fa-spinner fa-spin inline-loader col-fff"></i>
          </button>
        </div>
        
        <div id="notification-block" class="col-md-12 p-0 m-t-10">
          <div *ngIf="delNotif?.show" role="alert" class="text-center alert {{delNotif.classCss}} alert-fade-in alert-dismissible">
            <button type="button" class="close" aria-label="Close" (click)="closeDelNotif()">
              <span aria-hidden="true">&times;</span>
            </button>
            <i class="fa fa-info-circle"></i> &nbsp; {{delNotif?.message}}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

