.delete-modal.center-card {
    min-height: 220px;
}
.delete-modal .header-content{
    height: 120px;
}
.header-content-notif{
    height: 170px !important;
}
.plus-div {
    position: absolute;
    right: 0;
    top: 0;
}

.dependent-address-div {
    margin-top: 10px;
}