<nav id="custom-nav" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Logo" src="../../assets/logo.png" class="nav-brand-img">
      </a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="userDetails?.fname" class="dropdown user-menu active">
          <a href="#" class="dropdown-toggle trim-text" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false" title="{{userDetails?.fname}}">
             <i class="fa fa-user-circle-o fa-1x col-000 nav-username-icon"></i>&nbsp;{{userDetails?.fname}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li title="Account">
              <a routerLink="/landing/settings" class="trim-text">Account</a>
            </li>
            <li role="separator" class="divider"></li>
            <li title="Order History">
              <a routerLink="/landing/history" class="trim-text">Order History</a>
            </li>
          </ul>
        </li>
        <li *ngIf="userDetails" role="presentation">
          <a class="cur-p" (click)="logOut()">
            <i class="fa fa-sign-out fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Log out"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>